@model RetroGamingWorld.Models.ApplicationUser

<form asp-controller="Users" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <i class="bi bi-card-list"></i>
    <label>Selectati rolul</label>
    <br />
 
    <select name="newRole" class="form-control">
        <option selected>Selectati rolul</option> 

        @foreach (var role in ViewBag.AllRoles)
        {
            @if (ViewBag.UserRole == role.Value)
           {
                <option selected="selected" value="@role.Value">@role.Text</option>
           }
           else
           {
                <option value="@role.Value">@role.Text</option>
           }
        }
    </select>

    <button type="submit" class="btn btn-sm btn-success">Editare user</button>

</form>




